
.bounding-box{
	position: absolute;
    box-shadow: 0 0 0 3px #f26914 inset;
    /*display: -ms-flexbox;*/
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
    /*-ms-flex-pack: center;*/
    justify-content: center;
    cursor: pointer;
}

.uplImg{
	max-width: 500px;
	max-height: 600px;
}